<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.dortmund.dohack2017.recipeswiper">

    <application
        android:name=".RecipeSwiper"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".features.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.RezeptActivity"
            android:label="@string/title_activity_rezept" />
        <activity
            android:name=".features.RezeptListeActivity"
            android:label="@string/title_activity_rezept_liste" />
        <activity
            android:name=".features.WarenkorbActivity"
            android:label="@string/title_activity_warenkorb" />
        <activity
            android:name=".features.BestellActivity"
            android:label="@string/title_activity_bestell"/>


    </application>

</manifest>